<a href="https://colab.research.google.com/github/Elishow23/BolsaFuturoDigital/blob/main/lista_exercicio_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1- Peça ao usuário dois números e exiba a soma entre eles.
#2- Solicite quatro notas de um aluno e calcule a média.
#3- Peça um valor em metros e converta para centímetros (1 metro = 100
#centímetros).
#4- Peça o valor do lado de um quadrado e calcule a área (lado × lado).
#5- Solicite o valor ganho por hora e o número de horas trabalhadas no mês.
#Calcule o salário mensal.
#6- Peça um número e exiba o seu antecessor e sucessor.
#7- Peça um número ao usuário e mostre:
# o dobro,
# o triplo,
# a raiz quadrada (use ** 0.5).
#8- Peça a temperatura em graus Celsius e converta para Fahrenheit.
#�� Fórmula: F = C * 1.8 + 32
#9- Peça o preço de um produto e mostre o valor com 10% de desconto.
#10- Peça o valor total de uma conta e o número de pessoas. Mostre quanto
#cada pessoa deve pagar.

In [2]:
#1- Peça ao usuário dois números e exiba a soma entre eles.

print("Digite um número: ")
n1 = int(input())
print("Digite outro número: ")
n2 = int(input())
soma = n1 + n2
print("A soma dos números é:", soma)

Digite um número:
3
Digite outro número:
2
A soma dos números é: 5

In [3]:
#2- Solicite quatro notas de um aluno e calcule a média.

n1 = float(input("Digite a primeira nota:"))
n2 = float(input("Digite a segunda nota:"))
n3 = float(input("Digite a terceira nota:"))
n4 = float(input("Digite a quarta nota:"))

media = (n1 + n2 + n3 + n4)/4

print("A média do aluno é:", media)

Digite a primeira nota:6.7
Digite a segunda nota:7.9
Digite a terceira nota:5.5
Digite a quarta nota:4.3
A média do aluno é: 6.1000000000000005

In [6]:
#3- Peça um valor em metros e converta para centímetros (1 metro = 100 centímetros).

vlr_m = float(input("Digite o valor em metros:"))
vlr_cm = vlr_m * 100

print(vlr_m, "metro é equivalente a ", vlr_cm, "centímetros.")

Digite o valor em metros:4.9
4.9 metro é equivalente a  490.00000000000006 centímetros.

In [7]:
#4- Peça o valor do lado de um quadrado e calcule a área (lado × lado).
lado = float(input("Digite o valor do lado do quadrado:"))
area = lado * lado

print("A área do quadrado é:", area)

Digite o valor do lado do quadrado:5
A área do quadrado é: 25.0

In [9]:
#5- Solicite o valor ganho por hora e o número de horas trabalhadas no mês. Calcule o salário mensal.

valor_hora = float(input("informe o valor ganho por hora:"))
horas_trabalhadas = float(input("informe o número de horas trabalhadas no mês:"))

salario_mensal = valor_hora * horas_trabalhadas

print("O salário mensal é:", salario_mensal)
#

informe o valor ganho por hora:6.5
informe o número de horas trabalhadas no mês:192
O salário mensal é: 1248.0

In [11]:
#7- Peça um número ao usuário e mostre:
# o dobro,
# o triplo,
# a raiz quadrada (use ** 0.5).

n = int(input("Informe um número: "))

dobro = n * 2
triplo = n * 3
raiz = n ** 0.5

print("O dobro é: ", dobro)
print("O triplo é: ", triplo)
print("A raiz é: ", raiz)

Informe um número: 100
O dobro é:  200
O triplo é:  300
A raiz é:  10.0

In [13]:
#8- Peça a temperatura em graus Celsius e converta para Fahrenheit.
#�� Fórmula: F = C * 1.8 + 32

t = float(input("Digite a temperatura em graus celsius: "))
fah = t * 1.8 + 32
print(t, "graus em Fahrenheit é: ", fah)

Digite a temperatura em graus celsius: 23
23.0 graus em Fahrenheit é:  73.4

In [16]:
#9- Peça o preço de um produto e mostre o valor com 10% de desconto.

p = float(input("Digite o preço do produto:"))
desconto = p - ((10/100)*p)
print("Parabéns, você ganhou um desconto de 10%. Valor com desconto: ", desconto)

Digite o preço do produto:23
Parabéns, você ganhou um desconto de 10%. Valor com desconto:  20.7

In [17]:
#10- Peça o valor total de uma conta e o número de pessoas. Mostre quanto cada pessoa deve pagar.

conta = float(input("Digite o valor total da conta:"))
pessoas = int(input("Informe a quantidade total de pessoas"))
cada_pessoa = conta / pessoas
print("Cada pessoa irá pagar ", cada_pessoa)

Digite o valor total da conta:500
Informe a quantidade total de pessoas5
Cada pessoa irá pagar  100.0